<h1>Home</h1>
<% if user_signed_in? %>
  <%= link_to 'New Timecard', new_timecard_path %>
  <%= link_to 'My Freshbooks Account', edit_fresh_books_account_path(current_user.fresh_books_account.id) %>
<% end %>